.experience {
    margin: 140px auto 140px auto;
    min-height: 515px;
    &__header {
        font-size: 25px;
        font-weight: 400;
        position: relative;
        margin-bottom: 40px;
        &::after {
            content: "";
            position: absolute;
            top: 15px;
            left: 182px;
            width: 62%;
            height: 1px;
            background-color: #000;
        }
    }
    &__company {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        &:nth-child(3) {
            margin: 40px 0;
        }
    }
}
